.venv/
node_modules/
logs/
cnc_sim/cnc.conf
backend/.venv/
backend/.env
backend/node_modules/
backend/logs/
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
frontend/.env
frontend/*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js
backend/data/
backend/venv/